{% extends 'base.html' %}

{% block title%} 
<h1 class="text-center">Home Page</h1>
{% endblock%}

{% block content %}
  <div class='row p-2 row-cols-2'>
    {% comment %} check every category to find the ones that don't have parents and make those the column headers {% endcomment %}
    {% for c in all_categories %}
      {% if not c.parent %}
      <ul class="list-group text-center col">
        <a class="border bg-info text-dark fw-bold" href="{% url 'category_detail' category_id=c.id %}" >{{ c.name }}</a>
        
          {% comment %} make the children categories list elements under parent categories {% endcomment %}
        {% for category in all_categories %}
          {% if category.parent.name == c.name %}
            <li class="list-group-item bg-light "><a class="text-dark" href="{% url 'category_detail' category_id=category.id %}" >{{ category.name }}</a></li>
          {%endif%}
        {% endfor%}
      </ul>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}