{% extends 'base.html' %}

{% block title%} 
<h1 class="text-center">Home Page</h1>
{% endblock%}



{% block content %}

<div class='d-flex flex-row justify-content-between flex-fill px-5 flex-wrap'>
  {% for c in all_categories %}
    {% if not c.parent %}
    <ul class="list-group text-center">
      <a class="border" href="{% url 'category_detail' category_id=c.id %}" >{{ c.name }}</a>

      {% for category in all_categories %}
        {% if category.parent.name == c.name %}
          <li class="list-group-item"><a class="border" href="{% url 'category_detail' category_id=category.id %}" >{{ category.name }}</a></li>
        {%endif%}
      {% endfor%}
    </ul>
    {% endif %}
  {% endfor %}
</div>

{% endblock %}